@{
    ViewBag.AdminNav = "Service";
    ViewData["Title"] = "Trang chủ";
    Layout = "../Shared/_AdminLayout.cshtml";
}


<div class="search__container">
    <div class="search-item__title">
        <p>CÁC GÓI DỊCH VỤ</p>
        <P>Liên hệ nhân viên phụ trách để đặt mua</P>
    </div>
    <div class="search-item__option">
        <form action="" class="search-option__form">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="" type="text" placeholder="Nhập tên dịch vụ">
        </form>
        <label for="formUpSert" class="search-option__add">Thêm dịch vụ</label>
    </div>
</div>

<input hidden type="checkbox" id="formUpSert">
<label for="formUpSert" class="nav__overlay"></label>
<form class="formUpSert__form package__form">
    <p class="formUpSert__title">GÓI DỊCH VỤ</p>
    <div class="package-form__detail">
        <div class="package-form__item">
            <p>Tiêu đề</p>
            <input type="text">
        </div>
        <div class="package-form__item">
            <p>Mô tả</p>
            <textarea></textarea>
        </div>
        <div class="package-form__item">
            <p>Giá</p>
            <input type="number">
        </div>
        <div class="package-form__item">
            <p>Ngày đắt đầu</p>
            <input type="date">
        </div>
        <div class="package-form__item">
            <p>Ngày kết thúc</p>
            <input type="date">
        </div>
        <div class="package-form__item">
            <div class="package-form__img">
                <img class="package__img" src="./images/minh1.jpg" alt="">
                <input id="package-form__img" hidden type="file">
            </div>
        </div>
    </div>
    <div class="formUpSert__btn">
        <label for="package-form__img">Chọn ảnh</label>
        <button class="" type="submit">Cập nhật</button>
    </div>
</form>

<div class="package__container grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div class="package__item">
        <div class="package__btn">
            <label class="package-item__edit" for="formUpSert"><i class="fa-solid fa-gear"></i></label>
            <button class="package-item__remove"><i class="fa-solid fa-circle-minus"></i></button>
        </div>
        <img class="package-item__img" src="./images/minh2.jpg" alt="">
        <div class="package-item__tag">New</div>
        <div class="package__detail">
            <div>
                <p class="package-item__name">Boxing 1 vs 1</p>
                <p class="package-item__des">Bạn sẽ được tập 1 vs 1 với huấn luyện viên chuyên nghiệp</p>
            </div>
            <div class="package-item__detail">
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <p class="package-detail__info">Giá: <span>220.000đ</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-start"></i>
                    </div>
                    <p class="package-detail__info">Bắt đầu vào: <span>12/5/2023</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-end"></i>
                    </div>
                    <p class="package-detail__info">Kết thúc vào: <span>12/5/2023</span></p>
                </div>
            </div>
        </div>
    </div>

</div>

