@{
    ViewData["Title"] = "Trang chủ";
}

<div class="banner__container">
    <p class="banner-slogan"><span>KHAI PHÁ </span>SỨC MẠNH<br>BÊN TRONG <span>BẠN</span></p>
    <p class="description">Tự hào giới thiệu MoGym - nơi bạn có thể thúc đẩy sức khỏe, tối ưu hóa thể lực, và khám phá tiềm năng bản thân. Chúng tôi cam kết tạo ra môi trường thân thiện và đầy động lực để bạn có thể đạt được mục tiêu tốt nhất</p>
    <a href="#contact" class="btn-hover">Đăng ký ngay</a>
</div>

<div class="section__container intro__container">
    <span class="bg_blur blur-left"></span>
    <span class="bg_blur blur-right"></span>
    <p class="title">TẠI SAO NÊN CHỌN <span class="">MOGYM</span> ?</p>
    <p class="description">Tại MOGYM, chúng tôi xem xét sức khỏe và thể hình của bạn như một ưu tiên hàng đầu. Chúng tôi cung cấp một môi trường chuyên nghiệp, động lực và trang bị hiện đại để bạn có thể đạt được mục tiêu thể hình của mình một cách hiệu quả.</p>
    <div class="intro__item">
        <img class="intro-item__img" src="~/Image/System/womangymer.jpg" alt="">
        <div class="intro-item__detail grid grid-cols-1 md:grid-cols-3">
            <div class="intro-detail">
                <div class="intro-detail__icon"><i class="fa-solid fa-dumbbell"></i></div>
                <div class="intro-detail__description">
                    <p class="">Cơ sở hạ tầng</p>
                    <p class="">Thiết bị và tiện nghi thể hình hiện đại nhất</p>
                </div>
            </div>
            <div class="intro-detail">
                <div class="intro-detail__icon middle"><i class="fa-solid fa-clock"></i></div>
                <div class="intro-detail__description">
                    <p class="">Tiết kiệm thời gian</p>
                    <p class="">Chương trình tập luyện hiệu quả, chất lượng</p>
                </div>
            </div>
            <div class="intro-detail">
                <div class="intro-detail__icon"><i class="fa-solid fa-user-group"></i></div>
                <div class="intro-detail__description">
                    <p class="">Môi trường động lực</p>
                    <p class="">Môi trường thân thiện, vui vẻ và động lực</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section__container trainer__container">
    <span class="bg_blur blur-left"></span>
    <span class="bg_blur blur-right"></span>
    <p class="title">HUẤN LUYỆN VIÊN TẠI <span class="">MOGYM</span></p>
    <p class="description">Tại MOGYM, chúng tôi rất tự hào về đội ngũ huấn luyện viên chuyên nghiệp và đam mê của chúng tôi. Các huấn luyện viên tại MoGym đều được chọn lọc và đào tạo để đảm bảo họ có kiến thức và kỹ năng cần thiết để hỗ trợ bạn đạt được mục tiêu thể hình và sức khỏe của mình.</p>
    <div class="trainer__item">
        <div class="trainer-item">
            <img class="trainer-item__img" src="~/Image/System/minh2.jpg" alt="">
            <p class="">Thanh Thiên</p>
            <p class="">Huấn luyện viên Yoga</p>
        </div>
        <div class="trainer-item">
            <img class="trainer-item__img" src="~/Image/System/minh1.jpg" alt="">
            <p class="">Thành David</p>
            <p class="">Huấn luyện viên Boxing</p>
        </div>
        <div class="trainer-item">
            <img class="trainer-item__img" src="~/Image/System/minh.jpg" alt="">
            <p class="">Bùi Minh</p>
            <p class="">Huấn luyện viên thể hình</p>
        </div>
        <div class="trainer-item">
            <img class="trainer-item__img" src="~/Image/System/minh3.jpg" alt="">
            <p class="">Bùi Minh</p>
            <p class="">Huấn luyện viên bơi lội</p>
        </div>
        <div class="trainer-item">
            <img class="trainer-item__img" src="~/Image/System/minh4.jpg" alt="">
            <p class="">Bùi Minh</p>
            <p class="">Giám sát thể hình</p>
        </div>
    </div>
</div>

<div class="section__container service__container" id="services">
    <span class="bg_blur blur-left"></span>
    <p class="title">CÁC GÓI DỊCH VỤ TẠI <span class="">MOGYM</span></p>
    <p class="description">Tùy theo cơ sở và chi nhánh cụ thể của MoGym, các gói dịch vụ có thể khác nhau, nhưng dưới đây là một số gói dịch vụ phổ biến mà bạn có thể tìm thấy tại các trung tâm thể dục và phòng tập của MoGym</p>
    <div class="service__item grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
        <div class="service-item">
            <img class="service-item__img" src="~/Image/System/gymnastic.jpg" alt="">
            <div class="service-item__detail">
                <div class="service-detail__description">
                    <p class="">PHÒNG GYM</p>
                    <p class="">Các phòng tập thể hình hoàn hảo trang bị với các thiết bị hiện đại</p>
                </div>
                <div class="service-detail__btn">
                    <a href="#contact" class="">Đăng ký ngay</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="service-item">
            <img class="service-item__img" src="~/Image/System/aerobic.jpg" alt="">
            <div class="service-item__detail">
                <div class="service-detail__description">
                    <p class="">YOGA</p>
                    <p class="">Tập Yoga thường giúp tạo ra sự cân bằng giữa thân, tâm và tinh thần</p>
                </div>
                <div class="service-detail__btn">
                    <a href="#contact" class="">Đăng ký ngay</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="service-item">
            <img class="service-item__img" src="~/Image/System/boxing.jpg" alt="">
            <div class="service-item__detail">
                <div class="service-detail__description">
                    <p class="">BOXING</p>
                    <p class="">Đầy đủ không gian và cơ sở cho việc rèn luyện kỹ năng đối kháng</p>
                </div>
                <div class="service-detail__btn">
                    <a href="#contact" class="">Đăng ký ngay</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
        <div class="service-item">
            <img class="service-item__img" src="~/Image/System/swim.jpg" alt="">
            <div class="service-item__detail">
                <div class="service-detail__description">
                    <p class="">BƠI LỘI</p>
                    <p class="">Cải thiện sức khỏe tim mạch và thể lực tổng thể với bể bơi thoáng mát</p>
                </div>
                <div class="service-detail__btn">
                    <a href="#contact" class="">Đăng ký ngay</a>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#contact" class="btn-hover">Liên hệ</a>
</div>


<div class="section__container feedback__container">
    <div class="prev-feedback"><i class="fa-solid fa-angle-left"></i></div>
    <div class="next-feedback"><i class="fa-solid fa-angle-right"></i></div>
    <p class="title">FEEDBACK CỦA HỌC VIÊN TẠI <span class="">MOGYM</span></p>
    <div class="feedback-item active">
        <p class="feedback-item__text">Mình đã tham gia vào các lớp yoga tại MoGym trong một tháng qua và cảm thấy rất thư giãn và linh hoạt hơn. Giáo viên rất tận tâm và lớp học có môi trường yên bình, nhưng lúc đăng ký đợi hơi lâu vì phòng đông người đăng ký quá, nhưng trung tâm này rất ocii nha!</p>
        <div class="feedback-item__detail">
            <div class="feedback-detail__info">
                <img class="" src="~/Image/System/user1.jpg" alt="">
                <div class="feedback-info">
                    <p class="feedback-info__name">Chị Thu Hà</p>
                    <p class="feedback-info__class">Học viên lớp Yoga</p>
                </div>
            </div>
            <div class="feedback-detail__rate">
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    </div>
    <div class="feedback-item">
        <p class="feedback-item__text">MoGym không chỉ là nơi tập thể dục, mà còn là một cộng đồng thú vị. Tôi đã tìm thấy nhiều bạn mới và cảm thấy rất động viên trong việc đạt được mục tiêu thể hình của mình. Tôi luôn cảm thấy thoải mái khi tập luyện ở đây và đội ngũ nhân viên luôn sẵn sàng giúp đỡ</p>
        <div class="feedback-item__detail">
            <div class="feedback-detail__info">
                <img class="" src="~/Image/System/user2.jpg" alt="">
                <div class="feedback-info">
                    <p class="feedback-info__name">Chú Tường</p>
                    <p class="feedback-info__class">Thành viên tại MOGYM</p>
                </div>
            </div>
            <div class="feedback-detail__rate">
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
            </div>
        </div>
    </div>
    <div class="feedback-item">
        <p class="feedback-item__text">Mình đã bắt đầu tập luyện môn boxing tại MoGym để cải thiện sức khỏe tim mạch và giảm cân. Sau 3 tháng, mình thấy sự cải thiện rõ rệt về sức khỏe của mình và đã giảm được 10kg, thầy dạy boxing cho mình rất chu đáo, luôn hỗ trợ mình hết mình, iu thầy</p>
        <div class="feedback-item__detail">
            <div class="feedback-detail__info">
                <img class="" src="~/Image/System/user3.jpg" alt="">
                <div class="feedback-info">
                    <p class="feedback-info__name">Anh Hồng Sanh</p>
                    <p class="feedback-info__class">Học viên lớp Boxing 1-1</p>
                </div>
            </div>
            <div class="feedback-detail__rate">
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star feedack-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
        </div>
    </div>
</div>
