@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="login__container">
    <span class="bg_blur blur-right"></span>
    <p class="login__title">Đăng nhập</p>
    <form action="" id="" class="login__form">
        <div class="login__item">
            <label for="">Tài khoản</label>
            <input type="text" name="username" id="username" placeholder="Số điện thoại" class="">
        </div>
        <div class="login__item login__password">
            <label for="">Mật khẩu</label>
            <input type="password" name="password" id="password" placeholder="Mật khẩu" class="">
            <i class="fa-solid fa-eye"></i>
        </div>
        <div class="login__btn">
            <input type="submit" value="Đăng nhập" class="">
        </div>
    </form>
</div>