:root {
    --MyPink: #FB5B21;
    --MyPaleOrange: #fddcd0;
    --MyOrange: #f34100;
    --MyDarkGray: #1F2125;
    --MyPaleGray: #F9F9F9;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: #111317;
    color: white;
    line-height: 1.4;
    scroll-behavior: smooth;
}

input, button {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(234, 234, 234);
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(203, 203, 203);
    }

@media (max-width: 1024px) {
    .description {
        width: 80%;
    }
}
