@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/common.css" asp-append-version="true">

<div class="error__container">
    <p class="error__title">Trung tâm thể hình <span style="color: #FB5B21">MOGYM</span> rất tiếc</p>
    <p class="error__message">@ViewData["ErrorMessage"]</p>
    <p class="error__code">@ViewData["ErrorCode"]</p>
</div>