@{
    Layout = null;
}

<link rel="stylesheet" href="~/css/error.css" asp-append-version="true">

<h1>Trung tâm thể hình MOGYM rất tiếc</h1>
<p class="zoom-area"><b>Lỗi @ViewData["ErrorCode"]: </b> @ViewData["ErrorMessage"] </p>
<section class="error-container">
    <span class="four"><span class="screen-reader-text">4</span></span>
    <span class="zero"><span class="screen-reader-text">0</span></span>
    <span class="four"><span class="screen-reader-text">4</span></span>
</section>