@{
    ViewData["Title"] = "Lịch trình";
    Layout = "../Shared/_TrainerLayout.cshtml";
}

<!-- SCHEDULE CONTAINER -->
<div class="search__container">
    <div class="search-item__title">
        <p>LỊCH TRÌNH TUẦN</p>
        <P>Hãy sắp xếp thời gian hợp lý cho học viên</P>
    </div>
    <div class="dropdown__list">
        <div class="dropdown__btn">
            <p>Chọn tuần</p>
            <i class="fa-solid fa-caret-down"></i>
        </div>
        <ul class="dropdown-list">
            <li>Tuần 1</li>
            <li>Tuần 2</li>
            <li>Tuần 3</li>
        </ul>
    </div>
</div>
<div class="schedule__container">
    <table class="schedule__table">
        <tr class="schedule-table__header">
            <th><i class="fa-regular fa-calendar"></i></th>
            <th>Thứ 2</th>
            <th>Thứ 3</th>
            <th>Thứ 4</th>
            <th>Thứ 5</th>
            <th>Thứ 6</th>
            <th>Thứ 7</th>
            <th>Chủ nhật</th>
        </tr>
        <tr class="schedule-table__row">
            <td>6:00 AM</td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
        </tr>
        <tr class="schedule-table__row">
            <td>9:00 AM</td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
        </tr>
        <tr class="schedule-table__row">
            <td>2:00 PM</td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
        </tr>
        <tr class="schedule-table__row">
            <td>5:00 PM</td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
        </tr>
        <tr class="schedule-table__row">
            <td>8:00 PM</td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
            <td><textarea rows="5"></textarea></td>
        </tr>
    </table>
</div>