@{
}

<div class="search__container">
    <div class="search-item__title">
        <p>CÁC GÓI DỊCH VỤ</p>
        <P>Liên hệ nhân viên phụ trách để đặt mua</P>
    </div>
    <div class="search-item__option">
        <form action="" class="search-option__form">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            <input class="" type="text" placeholder="Nhập tên dịch vụ">
        </form>
    </div>
</div>
<div class="package__container grid grid-cols-1 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
    <div class="package__item">
        <img class="package-item__img" src="~/Image/System/minh2.jpg" alt="">
        <div class="package-item__tag">New</div>
        <div class="package__detail">
            <div>
                <p class="package-item__name">Boxing 1 vs 1</p>
                <p class="package-item__des">Bạn sẽ được tập 1 vs 1 với huấn luyện viên chuyên nghiệp</p>
            </div>
            <div class="package-item__detail">
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-dollar-sign"></i>
                    </div>
                    <p class="package-detail__info">Giá: <span>220.000đ</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-start"></i>
                    </div>
                    <p class="package-detail__info">Bắt đầu vào: <span>12/5/2023</span></p>
                </div>
                <div class="package-detail">
                    <div class="package-detail__icon">
                        <i class="fa-solid fa-hourglass-end"></i>
                    </div>
                    <p class="package-detail__info">Kết thúc vào: <span>12/5/2023</span></p>
                </div>
            </div>
        </div>
    </div>

</div>
