@using MOGYM.Helpers;
@model MOGYM.Models.TraineeModel
@{
    ViewBag.TraineeNav = "Info";
    ViewData["Title"] = "Thông tin";
    Layout = "../Shared/_TraineeLayout.cshtml";

    int height = Model.Height ?? 0;
    int weight = Model.Weight ?? 0;

    double bmi = UserUtility.CalculateBMI(height, weight);
}

<!-- INFORMATION CONTAINER -->
<div class="search__container">
    <div class="search-item__title">
        <p>THÔNG TIN CÁ NHÂN</p>
        <P>Hãy kiểm soát các chỉ số thường xuyên</P>
    </div>
    <div class="search-item__option">
        <label for="formUpSert" class="search-option__add">Cập nhật chỉ số</label>
    </div>
</div>

<input hidden type="checkbox" id="formUpSert">
<label for="formUpSert" class="nav__overlay"></label>
<form class="formUpSert__form info__form" method="post" asp-action="SetHealthIndicator">
    <p class="formUpSert__title">CẬP NHẬT THÔNG TIN</p>
    <div class="info-form__detail">
        <div class="info-detail__title">
            <p>Chiều cao</p>
            <p>Cân nặng</p>
        </div>
        <div class="info-detail__input">
            <input required name="height" type="number">
            <input required name="weight" type="number">
        </div>
    </div>
    <div class="formUpSert__btn">
        <button class="" type="submit">Cập nhật</button>
    </div>
</form>

<div class="info__container">
        <div class="info__topbar">
            <div class="info__note">
                <p>Ghi chú từ huấn luyện viên</p>
                <p>@Model.Note</p>
            </div>
            <div class="info__indicator">
                <div class="info-indicator__item">
                    <div class="info-indicator__detail">
                        <p>Chiều cao</p>
                        <p>@Model.Height cm</p>
                    </div>
                    <div class="info-indicator__icon">
                        <i class="fa-solid fa-up-down"></i>
                    </div>
                </div>
                <div class="info-indicator__item">
                    <div class="info-indicator__detail">
                        <p>Cân nặng</p>
                        <p>@Model.Weight kg</p>
                    </div>
                    <div class="info-indicator__icon">
                        <i class="fa-solid fa-weight-scale"></i>
                    </div>
                </div>
                <div class="info-indicator__item">
                    <div class="info-indicator__detail">
                        <p>Chỉ số BMI</p>
                        <p>@bmi</p>
                    </div>
                    <div class="info-indicator__icon">
                        <i class="fa-solid fa-scale-balanced"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-table__container">
            <table class="info__table">
                <tr>
                    <th>Thứ 2</th>
                    <th>Thứ 3</th>
                    <th>Thứ 4</th>
                    <th>Thứ 5</th>
                    <th>Thứ 6</th>
                    <th>Thứ 7</th>
                    <th>Chủ nhật</th>
                </tr>
                <tr>
                    <td>Uức cga</td>
                    <td>ấd</td>
                    <td>2222222</td>
                    <td>2222</td>
                    <td>444</td>
                    <td>111</td>
                    <td>12312</td>
                </tr>
            </table>
        </div>
    </div>
